body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: inline-block;
}

table {
  width: 100%;
}

th {
  background: orange;
  color: white;
  padding: 2%;
  text-align: center;
}

td {
  padding: 2%;
  text-align: center;
}

tr:nth-child(even) {
  background: lightblue;
}

h3 {
  display: inline-block;
}

.pointtd {
  width: 30%;
}

.table {
  width: 100%;
}

.nav {
  margin: 4%;
}

.show_your {
  display: none;
  margin-left: 2%;
}

.score_board {
  display: inline-block;
  width: 50%;
  margin-left: 2%;
}

.show_all {
  display: none;
  width: 50%;
  margin-left: 2%;
}

.all, .score, .switch, .your {
  margin-right: 1%;
}

.delete, .submit, .play {
  margin-top: 5%;
}

.block {
  display: block;
}

.submitscore {
  margin-right: 1%;
  margin-top: 2%;
}

.points {
  width: 40%;
}

.clear {
  border: none;
  background: none;
}
